.video-pane {
    margin: 25px;
    margin-left: 60px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 480px;
    height: 320px;
    text-align: center;
    border-radius: 60px;
    display: inline-block;
    position: static;
}

.video-pane:hover {
    box-shadow: 5px 5px 5px lightcoral;
    transform: translate(300px, -20px) scale(1.8);
    transition-delay: 2s;
    /* transform: skew(1deg, 1deg) scale(1.4); */
    transition: 4s;
    /* position: inherit; */
}
.algo-pane {
    margin: 25px;
    margin-left: 60px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 480px;
    height: 320px;
    text-align: center;
    border-radius: 60px;
    display: inline-block;
    position: static;
}

.algo-pane:hover {
    box-shadow: 5px 5px 5px lightcoral;
    transform: translate(-300px, -20px) scale(1.8);
    transition-delay: 2s;
    /* transform: skew(1deg, 1deg) scale(1.4); */
    transition: 4s;
    /* position: inherit; */
}
